@import "tailwindcss";

:root {
  --background: #f3f4f6;
  --foreground: #111827;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Courier New", Courier, monospace;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
